*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.title {
  padding: 16px;
  color: #7E7E82;
  text-transform: uppercase;
  background: linear-gradient(to right, #F2F2F2, #FFFFFF);
  border-top: 1px solid #D9FFF5; }

.brands {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2; }
  .brands__item {
    position: relative;
    height: 72px;
    list-style: none;
    background: url("../img/go.svg") no-repeat 93% 50% #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px; }
  .brands__item--hide {
    display: none; }
  .brands__item img {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%); }

@media (min-width: 320px) {
  .brands__item {
    width: 240px; } }

@media (min-width: 576px) {
  .brands__list {
    padding: 24px;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    max-height: 148px;
    overflow-y: hidden; } }

@media (min-width: 768px) {
  .brands__list {
    padding: 24px;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1120px) {
  .brands__list {
    padding: 24px 32px;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: repeat(4, minmax(200px, 360px)); } }

/*  title */
@media (min-width: 320px) and (max-width: 767px) {
  .title {
    padding: 16px 24px; } }

/*  More */
@media (min-width: 768px) and (max-width: 1120px) {
  .title {
    padding: 16px 32px; } }

@media (min-width: 320px) and (max-width: 574px) {
  .more {
    display: none; } }

.more {
  font-family: "TT Lakes",serif;
  font-weight: 500;
  width: 170px;
  margin-left: 32px;
  padding-left: 6px;
  font-size: 16px;
  outline: none;
  background: url("../../img/more.svg") no-repeat transparent 0 50%;
  border: none;
  cursor: pointer; }

@media (min-width: 320px) and (max-width: 574px) {
  .more {
    display: none; } }
