@font-face {
  font-family: "TT Lakes-Regular";
  font-weight: normal;
  src: url("../fonts/TTLakes-Regular.woff"), url("../fonts/TTLakes-Regular.eot"), url("../fonts/TTLakes-Regular.ttf"); }

@font-face {
  font-family: "TT Lakes-Regular";
  font-weight: 700;
  src: url("../fonts/TTLakes-Bold.woff"), url("../fonts/TTLakes-Bold.eot"), url("../fonts/TTLakes-Bold.ttf"); }

.header {
  padding: 24px 16px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between; }
  .header__icon {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer; }
    .header__icon-menu {
      background-image: url("../../img/menu.svg"); }
    .header__icon-phone {
      background-image: url("../../img/phone.svg"); }
    .header__icon-chat {
      background-image: url("../../img/chat.svg"); }
    .header__icon-profile {
      background-image: url("../../img/profile.svg"); }
    .header__icon-service {
      font-size: 0;
      background: url("../../img/service.svg") no-repeat; }
    .header__icon-checkstatus {
      font-size: 0;
      background: url("../../img/checkstatus.svg") no-repeat; }
    .header__icon img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .header__divider {
    height: 10%; }

.page-header {
  font-family: "TT Lakes-Regular";
  font-weight: bold;
  display: inline-block;
  background: url("../../img/highlight.svg") no-repeat;
  font-size: 28px;
  padding-left: 30px;
  margin: 20px 0; }

.menu {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .menu > * {
    margin-right: 20px; }

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0; }
  .icons > * {
    margin-right: 20px; }
  .icons button {
    font-size: 0;
    white-space: nowrap; }

@font-face {
  font-family: "TT Lakes-Regular";
  font-weight: normal;
  src: url("../fonts/TTLakes-Regular.woff"), url("../fonts/TTLakes-Regular.eot"), url("../fonts/TTLakes-Regular.ttf"); }

@font-face {
  font-family: "TT Lakes-Regular";
  font-weight: 700;
  src: url("../fonts/TTLakes-Bold.woff"), url("../fonts/TTLakes-Bold.eot"), url("../fonts/TTLakes-Bold.ttf"); }

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .content .column-left {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    text-align: left; }
    .content .column-left__text {
      color: #1B1C21;
      font-size: 14px;
      letter-spacing: 0.2px; }
      .content .column-left__text-hidden {
        display: block; }
    .content .column-left button {
      width: 170px;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      background: url("../../img/more.svg") no-repeat #F8F8F8 0 50%;
      border: none;
      cursor: pointer; }
    .content .column-left p:first-child {
      margin-bottom: 30px; }
  .content .column-left, .content .column-right {
    width: 50%; }

@font-face {
  font-family: "TT Lakes-Regular";
  font-weight: normal;
  src: url("../fonts/TTLakes-Regular.woff"), url("../fonts/TTLakes-Regular.eot"), url("../fonts/TTLakes-Regular.ttf"); }

@font-face {
  font-family: "TT Lakes-Regular";
  font-weight: 700;
  src: url("../fonts/TTLakes-Bold.woff"), url("../fonts/TTLakes-Bold.eot"), url("../fonts/TTLakes-Bold.ttf"); }

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  padding-left: 36px;
  overflow-x: hidden; }
  .tabs__tab {
    white-space: nowrap;
    text-decoration: none;
    align-items: center;
    color: #7E7E82;
    font-size: 16px;
    padding: 12px 16px; }
  .tabs__tab-selected {
    color: #7E7E82;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px; }

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: "TT Lakes-Regular", serif;
  font-weight: 400;
  box-sizing: border-box; }
  body main {
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8; }

@media (min-width: 1121px) {
  body {
    width: 1120px;
    margin: 0 auto; }
  .header {
    background-color: #F8F8F8; }
  main .page-header {
    display: none; }
  .menu {
    display: none; }
  .icons {
    display: flex; }
  .icons .header__icon:nth-child(1),
  .icons .header__icon:nth-child(2),
  .icons .header__icon:nth-child(3),
  .icons img {
    display: none; }
  .icons .header__icon:nth-child(5), .icons .header__icon:nth-child(6) {
    width: 250px;
    height: 70px;
    background-position: 80% 50%;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-right: 60px; }
  .icons button {
    font-size: 16px; }
  .tabs {
    flex-wrap: wrap;
    overflow-x: visible; } }

@media (max-width: 1120px) {
  .header {
    background-color: white; }
  .header .page-header {
    display: none; }
  main .page-header {
    display: flex; }
  .icons {
    display: flex; }
  .menu, .icons {
    display: flex;
    justify-content: space-evenly; }
  .menu > img {
    order: 2; }
  .menu img ~ img {
    order: 1; } }

@media (min-width: 320px) and (max-width: 768px) {
  header .page-header {
    display: none; }
  .icons .header__icon:nth-child(n+3), .icons img {
    display: none; }
  .menu img:nth-child(2) {
    order: 0; }
  .tabs {
    overflow-x: scroll; }
  .content {
    flex-direction: column; }
    .content .column-left {
      width: 100%; }
      .content .column-left__text-hidden {
        display: none; }
    .content .column-right {
      width: 100%; } }
