//  COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-text-header: black;
$color-text-content: #1B1C21;
$color-text-tab: #7E7E82;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-bg-nav: white;
$color-bg-main: #F8F8F8;
$color-bg-icon: #FF3E79;
$color-bg-dark: #5643fa;
$color-main-top-line: #D9FFF5;


//$color-grey-light: #f7f7f7;
//$color-grey-dark: #777;
//$color-grey-darker-2: #999;
//$color-grey-darkest-3: #333;


// GRID
//$grid-width: 114rem;
//$gutter-vertical: 4rem;
//$gutter-vertical-small: 2rem;
//$gutter-horizontal: 4rem;

//FONT
$default-font-size: 16px;

@font-face {
    font-family: "TT Lakes-Regular";
    font-weight: normal;
    src: url("../fonts/TTLakes-Regular.woff") ,
    url("../fonts/TTLakes-Regular.eot"),
    url("../fonts/TTLakes-Regular.ttf");
}
@font-face {
    font-family: "TT Lakes-Regular";
    font-weight: 700;
    src: url("../fonts/TTLakes-Bold.woff") ,
    url("../fonts/TTLakes-Bold.eot"),
    url("../fonts/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TT Lakes-Regular";
    font-weight: 500;
    src: url("../fonts/TTLakes-Medium.woff") ,
    url("../fonts/TTLakes-Medium.eot"),
    url("../fonts/TTLakes-Medium.ttf");
}




