@import "abstracts/variables";
@import "components/header";
@import "components/content";
@import "components/tabs";
@import "layout/flex";

body {
    font-family: "TT Lakes";
    main {
        display: flex;
        flex-direction: column;
        background-color: $color-bg-main;

    }
}


@media (min-width: 1121px) {

    body {
        width: 1120px;
        margin: 15px  auto;

    }

    .header {
        background-color: $color-bg-main;
    }
    main .page-header {
        display: none;
    }
    .block_1 {
        display: none;
    }

    .block_2 {
        display: flex;
    }
    .block_2 .span-icon {
        display: flex;
        align-items: center;
    }
    .block_2 > div:nth-child(5):before {
        content: "Оставить заявку";
        margin-right: 10px;
        font-weight: bold;
    }
    .block_2 > div:nth-child(6):before {
        content: "Статус ремонта";
        margin-right: 10px;
        font-weight: bold;
    }

    .block_2 > .header__icon, .block_2 > img {

        display: none;
    }

    .tabs {
        flex-wrap: wrap;
        //background-color: #333333;
        overflow-x: visible;
    }
}

@media (max-width: 1120px) {
    .header {
        background-color: $color-bg-nav;
    }
    .header .page-header {
        display: none;
    }
    main .page-header {
        display: flex;
    }

    .block_2 > .header__icon, .block_2 > img {
        display: flex;
    }

    .block_1, .block_2 {
        display: flex;
        justify-content: space-evenly;
    }

    .block_1 > img {
        //border: 1px solid #333333;
        order: 2;
    }
    .block_1 img ~ img {
        //border: 1px solid red;
        order: 1;
    }

    .block_2 > div:nth-child(5):before, .block_2 > div:nth-child(6):before {
        content: "";
    }

}

@media (min-width: 320px) and (max-width: 768px) {
    header .page-header {
        display: none;
    }

    .block_2 > .header__icon, .block_2 > img {
        display: none;
    }

    .block_1 img:nth-child(2) {
        order: 0;
    }

    .tabs {
        overflow-x: scroll;
    }
    .content {
        flex-direction: column;

        .column-left {
            width: 100%;

            &__text-hidden {
                display: none;
            }
        }

        .column-right {
            width: 100%;
        }
    }
}


