@import "abstracts/variables";
@import "components/header";
@import "components/content";
@import "components/tabs";
@import "layout/flex";

body {
    font-family: "TT Lakes";

    main {
        display: flex;
        flex-direction: column;
        background-color: $color-bg-main;

    }
}


@media (min-width: 1121px) {

    body {
        width: 1120px;
        margin: 15px auto;
    }

    .header {
        background-color: $color-bg-main;
        margin-left: -16px;

    }
    main .page-header {
        display: none;
    }
    .block_1 {
        display: none;
    }

    .block_2 {
        display: flex;
    }

    .block_2 .header__icon:nth-child(1),
    .block_2 .header__icon:nth-child(2),
    .block_2 .header__icon:nth-child(3),
    .block_2 img {
        display: none;
    }

    .block_2 span {
        font-size: 16px;
    }

    .tabs {
        flex-wrap: wrap;
        //background-color: #333333;
        overflow-x: visible;
    }
}

@media (max-width: 1120px) {
    .header {
        background-color: $color-bg-nav;
    }
    .header .page-header {
        display: none;
    }
    main .page-header {
        display: flex;
    }

    .block_2  {
        display: flex;
    }

    .block_1, .block_2 {
        display: flex;
        justify-content: space-evenly;
    }

    .block_1 > img {
        order: 2;
    }
    .block_1 img ~ img {
        order: 1;
    }


}

@media (min-width: 320px) and (max-width: 768px) {
    header .page-header {
        display: none;
    }

    .block_2 .header__icon:nth-child(n+3), .block_2 img {
        display: none;
    }

    .block_1 img:nth-child(2) {
        order: 0;
    }

    .tabs {
        overflow-x: scroll;
    }
    .content {
        flex-direction: column;

        .column-left {
            width: 100%;

            &__text-hidden {
                display: none;
            }
        }

        .column-right {
            width: 100%;
        }
    }
}


