

.brands__technics {
    list-style: none;
    box-sizing: border-box;
    position: relative;
    height : 160px;
    background: url("../img/go.svg") no-repeat 93% 50% #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}






