@import "../abstracts/variables";

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column-left {
        padding: 10px 36px;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        text-align: left;

        &__text {
            color: $color-text-content;
            font-size: 14px;
            letter-spacing: 0.2px;
            margin-bottom: 16px;

            &-hidden {
                display: block;
            }
        }
    }

    .column-left, .column-right {
        width: 50%;
    }

    @media (min-width: 320px) and (max-width: 768px)
    {
        flex-direction: column;
        .column-left {
            padding: 6px 16px;
            width: 100%;
            &__text-hidden {
                display: none;
            }
        }
        .column-right {
            width: 100%;
        }
    }

}