@import "../abstracts/variables";

.header {

    display: flex;
    flex-direction: row;
    background-color: $color-bg-nav;
    justify-content: space-between;
    align-items: center;

    &--p-main {
        padding: 19px 24px;
    }

    .logo {
        padding-right: 20px;
        background: url("../../img/divider.svg") 100% 50% no-repeat;

        &--no-divider {
            background: none;
        }
    }

    &__icon {
        border: none;
        height: 40px;
        padding-right: 40px;
        background-color: transparent;
        cursor: pointer;
        transition: all .4s;

        &--close-menu {
            background-image: url("../../img/burger-close.svg");
        }

        &-menu {
            background-image: url("../../img/menu.svg");
        }

        &-phone {
            background-image: url("../../img/phone.svg");
        }

        &-chat {
            background-image: url("../../img/chat.svg");
        }

        &-profile {
            padding-right: 56px;
            background: url("../../img/profile.svg") no-repeat, url("../../img/divider.svg") 100% 50% no-repeat;
        }

        &__profile--no-divider {
            padding-right: 56px;
            background: url("../../img/profile.svg") no-repeat;
        }

        &-service {
            font-family: "TT Lakes", serif;
            font-weight: 500;
            font-size: 0;
            background: url("../../img/service.svg") no-repeat;
        }

        &-checkstatus {
            font-family: "TT Lakes", serif;
            font-weight: 500;
            font-size: 0;
            background: url("../../img/checkstatus.svg") no-repeat;
        }

    }

    &__icon:hover {
        filter: hue-rotate(25deg);
        transform: scale(1.05);
    }
}

.page-header {
    font-family: "TT Lakes", serif;
    font-weight: 700;
    display: inline-block;
    background: url("../../img/highlight.svg") no-repeat;
    font-size: 28px;
    padding-left: 16px;
    margin: 20px 0;

    &--view-m {
        margin-left: -24px;
        padding-left: 20px;
    }
}

.menu {
    display: flex;
    flex-direction: row;

    align-items: center;

    > * {
        margin-right: 20px;
    }
}

.icons {
    display: flex;
    flex-direction: row;
    //align-items: center;
    font-size: 0;

    > *:not(:last-child) {
        margin-right: 16px;
    }

    button {
        font-size: 0;
        white-space: nowrap;
    }
}







