@import "../abstracts/variables";

.more {
    position: relative;
    font-family: "TT Lakes", serif;
    font-weight: 500;
    width: 170px;
    padding-left: 6px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &--ml-32 {
        margin-left: 32px;
    }
}

.more::before {
    top: 50%;
    left: 0;
    position: absolute;
    content: '';
    height: 11px;
    width: 8px;
    background: url("../img/more.svg") no-repeat transparent;
    transform: translateY(-50%);
}

.more.rotate::before {
    transform: translateY(-50%) rotate(180deg);
}

@media (min-width: 320px) and (max-width: 576px) {
    .more {
        display: none;
    }
}



