@import "../abstracts/variables";

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin: 0 36px;
    overflow-x: hidden;

    &__tab {
        white-space: nowrap;
        text-decoration: none;
        align-items: center;
        color: $color-text-tab;
        font-family: TT Lakes;
        font-size: 16px;
        padding: 10px 14px;
    }

    &__tab:not(:first-child) {
        margin-left: 24px;
    }

    &__tab-selected {
        color: $color-text-tab;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        box-sizing: border-box;
        border-radius: 6px;
    }
}

