@import "../abstracts/variables";

.tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    padding-left: 36px;
    overflow-x: hidden;

    &__tab {
        list-style: none;
        margin-left: -3px;
        white-space: nowrap;
        text-decoration: none;
        align-items: center;
        color: $color-text-tab;
        font-size: 16px;
        padding: 12px 16px;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__tab-selected {
        color: $color-text-tab;
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
        box-sizing: border-box;
        border-radius: 6px;
    }
}

